blinker @ file:///work/perseverance-python-buildout/croot/blinker_1698846408677/work
certifi==2024.7.4
charset-normalizer==3.3.2
click @ file:///work/perseverance-python-buildout/croot/click_1698845879718/work
Flask @ file:///croot/flask_1716545870149/work
idna==3.7
itsdangerous @ file:///croot/itsdangerous_1716533337253/work
Jinja2 @ file:///croot/jinja2_1716993405101/work
MarkupSafe @ file:///work/perseverance-python-buildout/croot/markupsafe_1707342994941/work
requests==2.32.3
setuptools==69.5.1
urllib3==2.2.2
Werkzeug @ file:///croot/werkzeug_1716533313107/work
wheel==0.43.0
