@keyframes fadeIn {
    from {
        opacity: 100%;
    }
    to {
        opacity: 70%;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes buttonHover {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

@media (max-width: 1024px) {
    .some-element {
        display: none;
    }
}

@keyframes moveBackground {
    0% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 50% 0%;
    }
    100% {
        background-position: 100% 50%;
    }
}
body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    animation: fadeIn 2s ease-in-out;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    background-position: 0% 50%;
    animation: moveBackground 30s infinite linear;
}

h1 {
    color: #333;
    margin-bottom: 10px;
    font-size: 4em;
    position: absolute;
    top: 10px;
    left: 10px;
    animation: fadeIn 0.5s ease-out;
}

h2 {
    color: #333;
    margin-bottom: 10px;
    font-size: 0.75em;
    position: absolute;
    top: 110px;
    left: 10px;
    animation: slideIn 1s ease-out;
    opacity: 35%;
}

h3 {
    color: #333;
    margin-bottom: 10px;
    font-size: 0.75em;
    position: absolute;
    top: 120px;
    left: 10px;
    animation: slideIn 1.2s ease-out;
    opacity: 35%;
}

h4 {
    color: #000000;
    margin-bottom: 5px;
    font-size: 1.3em;
    text-align: center;
    animation: fadeIn 3s ease-out;
}

h5 {
    color: #000000;
    margin-bottom: 1px;
    font-size: 1.3em;
    text-align: center;
    animation: fadeIn 3s ease-out;
    top: 1000px ;

}
h6 {
    color: #000000;
    margin-bottom: 1px;
    font-size: 1.3em;
    text-align: center;
    animation: fadeIn 3s ease-out;
    top: 1000px ;
    bottom: 0%;

}

p {
    color: #000000;
    margin-bottom: 5px;
    font-size: 1.3em;
    text-align: center;
    animation: fadeIn 3s ease-out;
}

form {
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
    position: absolute;
    top: 160px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}

label {
    display: flex;
    margin-bottom: 3px;
    font-size: 1.2em;
    opacity: 25%;
    animation: fadeIn 2s;
}

select {
    padding: 10px;
    font-size: 1em;
    box-sizing: border-box;
    animation: fadeIn 2s ease-in-out;
    flex: 1;
    opacity: 70%;
}


/* From Uiverse.io by Voxybuns */ 
button {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #c2c2c2;
    --button_outline_color: #000000;
    font-size: 14.5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
  }
  
  .button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
  }
  
  button:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
    --button_color: #e8e8e8;
  }
  
  button:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
    --button_color: #e8e8e8;
  }
  
  


table {
    width: auto;  /* Width of the table */
    height:auto;
    margin: 10px 50px 20px 0; /* Center the table horizontally */
    border-collapse: collapse; /* Ensures borders collapse into a single border */
    background-color: #e8e8e8 ;
    opacity: 70%;
    animation: fadeIn 2s ease-in-out;
    font-family: sans-serif;
    top: 10em;
    overflow-y: auto;  /* Enables vertical scrolling */
    overflow-x: hidden;
}

th {
    padding: 10px;
    text-align: left;
    border-top-left-radius: 80px 80px;
    border-bottom-left-radius: 80px 80px;
    background-color: #e8e8e8;
    
}

td {
    padding: 10px;
    text-align: center;
    border-top-right-radius: 80px 80px;
    border-bottom-right-radius: 80px 80px;
    background-color: #e8e8e8;
}

tr {
    background-color: #e8e8e8;
    top: 5px;
    font-weight: bold;
}

p {
    font-size: 1em;
    margin: 5px 0;
    animation: fadeIn 2s ease-in-out;
    color: #000000;
    opacity: 70%;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }

    label, select, button, p {
        font-size: 1em;
    }

    form {
        max-width: 100%;
    }

    table {
        max-width: 100%;
    }
}
